body {
    margin: 0;
    height: 100vh;
    background-image: url('../images/背景.jpg');
    background-size: cover;
    z-index: -1;

}

button {
    cursor: pointer
}

.table {
    position: absolute;
    top: 14%;
    left: 25%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2%;
    z-index: 1;
    width: 50%;
    height: 70%;
    margin: 0;
}

.logo {
    position: absolute;
    top: 4%;
    width: 30%;
    left: 35%;
}

.login-form {
    width: 100%;
    height: 100%;
    position: relative;
}

.login-form input {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    border: none;
    padding-left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #000;
}

.login-form button {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #000;
}

.login-form button:hover {
    background-color: rgba(72, 156, 235, 0.8);
}

#f1 {
    position: absolute;
    width: 70%;
    height: 10%;
    left: 14%;
    top: 25%;
}

#f2 {
    position: absolute;
    width: 70%;
    height: 10%;
    left: 14%;
    top: 38%;
}

#f3 {
    position: absolute;
    width: 70%;
    height: 10%;
    left: 14%;
    top: 51%;
}

#f4 {
    position: absolute;
    width: 70%;
    height: 10%;
    left: 14%;
    top: 65%;
}

#f5 {
    position: absolute;
    width: 70%;
    height: 10%;
    left: 22%;
    top: 76%;
}

#f6 {
    position: absolute;
    width: 20%;
    height: 10%;
    left: 40%;
    top: 88%;
}

a {
    color: rgba(7, 118, 223, 1);
    text-decoration: none;
}

a:hover {
    color: rgba(206, 4, 233, 1);
}

#login {
    position: absolute;
    bottom: 4%;
    width: 20%;
    right: 14%;
}

.role-option {
    float: left;
    margin-right: 10%;
    height: 40%;
    width: 20%;
}

.role-option input {
    cursor: pointer;
}

.role-option label {
    cursor: pointer;
    color: #360101;
}